body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#startButton {
  padding: 10px;
  margin: 0 auto;
  background-color: dodgerblue;
  color: white;
  border: 0px;
  border-radius: 10px;
  font-size: 24pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameArea {
  overflow: hidden;
  position: relative;
  width: 700px;
  height: 300px;
  border: solid 2px black;
  margin: 10px auto;
}

#water {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/water.png");
}

.bridge {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 0px;
  background-image: url("./images/bridge.png");
  background-size: contain;
}

.cannon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
}

.ball {
  position: absolute;
  top: 0px;
  left: 0px;
}

.rock {
  position: absolute;
  top: 235px;
  left: 300px;
}

#player {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 140px;
  left: 0px;
}

#chest {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 150px;
  left: 600px;
}
